.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
    position: relative;
    transition: color 0.3s ease;
  }
  
  .link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease, background-color 0.3s ease;
  }
  
  .link:hover::after {
    width: 100%;
    background-color: purple;
  }
  
  .linkDestacado {
    font-weight: bold;
  }

  @media (max-width: 744px) {
    .link {
      font-size: 1rem;
    }
}