.navegacao {
    height: 112px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 3rem;
}

.navegacao > * {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
}

@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}